/***** GENERAL STYLING *****/
/* Body */
body {
    margin: 0%
        /* This ensures our site displays all the way to the edge of the browser screen */
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase;
    /* Capitalizing all h1 headings */
    font-family: "Trebuchet MS", Optima;
    /* Sets the font family of all h1 headings */
    text-align: center;
    /* Centering all h1 elements */
    margin-top: 3%;
    /* Adds a small margin above h1 elements */
    color: #1a1a1a;
}

/* Heading 1 element hover effect */
h1:hover {
    filter: grayscale(5%);
    /* Adds a slightly gray filter to the h1 headings when hovered over */
    transform: scale(1.1);
    /* When the h1 elements are hovered over they increase in size by 1.1 */
    transition: transform 1s;
    /* This causes the transformation to last 1 second */
}

/* Quotation elements */
q {
    font-style: italic;
    /* This makes the quote italicized */
}

/* Paragraph elements */
p {
    font-family: Perpetua, Rockwell Extra Bold;
    text-align: justify;
    /* Justify text within paragraph elements */
    letter-spacing: 1px;
    /* This expands the text slightly */
    font-size: 20px;
    padding-left: 20px;
    /* Adds padding to the left of the paragraph element */
    padding-right: 20px;
    /* Adds padding to the right of the paragraph element */
}

/* Paragraph element hover effect */
p:hover {
    transition: transform 1s;
    /* This makes the transform effect last 1 second */
    transform: scale(1.01);
    /* This makes the paragraphs increase slightly in size when hovered over */
}

/* Center class - this applies to all elements with the class "center" */
.center {
    text-align: center;
    /* This center aligns the text */
}

/* Center class hover effect - This only affects the quote, github link, and footer */
.center:hover {
    transition: transform 2s;
    /* This makes the transform effect last 2 seconds */
    transform: scale(1.1);
    /* This makes the elements with class "center" increase in size by 1.1 when hovered over */
}

/* Anchor elements */
a {
    color: seagreen;
    /* This ensures all links are ba color*/
}

/* Image elements */
img {
    filter: grayscale(75%);
    /* This rids our pictures of 75% of their color */
    border-radius: 7px;
    /* Gives all images slightly rounded corners */
    max-width: 100%;
    /* Ensures all images stay within the width of their container */
    height: 340px;
    /* Sets the height of all images */
    display: block;
    /* By specifying block display we can ensure our images are able to be centered */
    margin-left: auto;
    /* In combination with "margin-right: auto" this centers all images */
    margin-right: auto;
}

/* Image element hover effects */
img:hover {
    filter: grayscale(1%);
    /* Brings back img color when hovered */
    transition: transform 1s;
    /* Transition lasts 1 second */
    transform: scale(1.1);
    /* Imag increased slightly when hovered */
}

/* The @media rule is used in media queries to apply different styles for different media/types of devices */

/* On screens 576px and smaller the images will be 100px tall and centered vertically in the column */
@media screen and (max-width: 576px) {
    img {
        height: 100px;
        margin-top: 150px;
    }
}

/* Styling for footer element */
footer {
    padding: 2%;
    /* This gives the footer padding that is equal to 2% of the width of the element's area */
    background-color: antiquewhite;
}

/***** END OF GENERAL STYLING *****/

/***** NAVBAR STYLING *****/
.Navbar {
    overflow: hidden;
    /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: rebeccapurple;
    /* This colors the navbar black */
    position: fixed;
    /* This keeps the navbar at the top of the screen as we scroll */
    top: 0;
    /* This ensures no space is displayed above the navbar */
    width: 100%;
    /* This makes the navbar span the entire width of the page */
    z-index: 1;
    /* This ensures other elements don't display over the navbar */
    -webkit-animation: moveNav 2s;
    /* This applies the moveNav animation below for Safari 4.0 - 8.0 */
    animation: moveNav 3s;
    /* This applies the moveNav animation for all other browsers */
}

/* moveNav animation effect for moving the nav bar in from the left of the screen */
@keyframes moveNav {
    from {
        left: -100vw;
    }

    /* The navbar is starting off screen to the left */
    to {
        left: 0vw;
    }

    /* This moves the navbar into place on the screen */
}

/* Navbar links */
.Navbar a {
    float: left;
    /* This specifies that the text floats on the left on the navbar */
    display: block;
    /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white;
    /* This is the font color for text on our navbar */
    padding: 14px 16px;
    /* This adds padding around our text */
    text-decoration: none;
    /* This gets rid of the underlines under the text on our navbar */
    font-family: Avant Garde, Helvetica;
    /* This specifies the font family for text on our navbar */
    font-size: 20px;
    /* This specifies the font size for text on our navbar */
    text-align: center;
    /* This centers the text within its container */
    position: relative;
    /* This sets the text relative to its normal positioning, allowing us to use the animation below */
    -webkit-animation: moveNavText 5.75s;
    /* Animation for Safari 4.0 - 8.0 */
    animation: moveNavText 5.75s;
    /* Applies the moveNavText animation for 5.75s */
}

/* moveNavText animation effect for moving the navbar text from above the view to the navbar */
@keyframes moveNavText {
    from {
        top: -100vw;
    }

    /* This sets the navbar text 100% above the viewport */
    to {
        top: 0vw;
    }

    /* This lowers the navbar text onto the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;
        /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #eee1e1;
    /* Defines the background color that will display when you hover over the link */
    color: rgb(19, 18, 18);
    /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold;
    /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active {
    /* This targets the a element on the navbar with the "active" class */
    background-color: darkgray;
}

/***** END OF NAVBAR STYLING *****/